extends layout

block content
  div(class='container group')
    h1 Mario Kart 8 Time Trials
    -each val, key in races
      section(class="cup")
        h2 #{key}
        ul
          -each id, course in val
            li
              div
                a(href='/time-trials/#{id}')
                  span #{course}
              div
                a(href='/videos/#{id}/2')
                  span - Videos of Time Trials
