extends layout

block content
  div(class='group container')
    h1 #{courseName}
    -for rank in data
      div.trial
        section.subtleShadow
          div.icon
            img(src=rank.icon_url)
          section.stats
            div.name #{rank.name}
            div.time Time: #{rank.time}
