extends layout

block content
  div(class='group container')
    nav
      ul
        li
          a(href='/') Home
    h1 Top times for #{courseName}
    -for rank in data
      div.trial
        section.subtleShadow
          div.icon
            img(src=rank.icon_url)
          section.stats
            div.name #{rank.name}
            div.time Time: #{rank.time}
