extends layout

block content
  div(class='group container')
    -for video in videos
      section(class='video')
          a(href="//youtube.com/watch?v=#{video.video_id}")
            img(src="//img.youtube.com/vi/#{video.video_id}/0.jpg")
            span #{video.poster.name}
